/*

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
1rem = 10px
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html { font-size: 62.5%; /* 1rem = 10px */ }

body { 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;

  /* Variables */
  --primary-colour: #219451;
  --primary-colour-dark: #186E3C;
  --primary-colour-light: #27ae60;
}


.heading-primary {
  color: #fff;
  font-size: 5rem;
  text-transform: uppercase;
  backface-visibility: hidden; /* Stops shakiness */
}

.heading-secondary {
  font-size: 3.5rem;
}

.paragraph { font-size: 1.6rem; }

.container {
  max-width: 114rem;
  margin: 0 auto; 
}

.container::after {
  content: "";
  display: table;
  clear: both; 
}

.clearfix {
  display: block;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

/* Nav bar */

.header-container {
  height: fit-content;
  padding: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  order: 0;
  height: 3.2rem;
  width: 3.2rem;
  margin-left: 1.5rem;
}

.nav__menu {
  z-index: 999;
  display: inline-block;
  cursor: pointer;
}

.nav__menu--bar {
  width: 3.5rem;
  height: .5rem;
  background-color: #222;
  margin: .6rem 0;
  transition: 0.4s;
  border-radius: .5rem;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-.9rem, .6rem) ;
  transform: rotate(-45deg) translate(-.9rem, .6rem) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-.8rem, -.8rem) ;
  transform: rotate(45deg) translate(-.8rem, -.8rem) ;
}

.nav__menu--overlay {
  z-index: 998;
  visibility: hidden;
  opacity: 0; /* Change one of these? */

  transition: all .3s ease-out;
}

.nav__menu--overlay ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-left: 0;
  list-style-type: none;
}

.nav__menu--overlay ul li {
  padding: 2rem;
}

.nav__menu--overlay ul a:nth-child(2n-1){
  background-color: var(--primary-colour);
}

.nav__menu--overlay ul a {
  background-color: var(--primary-colour-dark);
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Roboto Slab", sans-serif;

  transition: all .3s ease-in-out;
}

  .nav__menu--overlay ul a:hover {
    background-color: var(--primary-colour-light);
    padding-left: 3rem;
  }


.nav__logo {
  height: 5rem;
  width: auto;
  order: 2;
}


/* Header home */

/* .header-home {

} */

/* Utilities */
.u-center-text { text-align: center !important; }

.u-margin-bottom-large { margin-bottom: 8rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-large { margin-top: 10rem !important; }

.container .col-1-of-2 { width: calc((100% - 6rem) / 2); }
.container .col-1-of-3 { width: calc((100% - 2 * 6rem) / 3); }
.container .col-2-of-3 { width: calc(2 * ((100% - 2 *6rem) / 3) + 6rem); }
.container .col-1-of-4 { width: calc((100% - 3 * 6rem) / 4); }
.container .col-2-of-4 { width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
.container .col-3-of-4 { width: calc(3 * ((100% - 3 * 6rem) / 4) + 6rem * 2); }



/* Animations */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }



/* Responsive Design */

@media all and (max-width: 37.5em) { /* Phone - 600px */

}

@media all and (max-width: 56.25em) { /* Portrait tablets - 900px */
  .u-margin-bottom-large {
    margin-bottom: 5rem !important; 
  } 
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important; 
  } 
}

@media all and (max-width: 75em) { /* Landscape tablets - 1200px */
  
}

@media all and (min-width: 112.5em) { /* Big desktops - 1800px+ */
  
}