/*

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
1rem = 10px
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html { font-size: 62.5%; /* 1rem = 10px */ }

body { 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;

  /* Colours */
  --primary-colour: #219451;
  --primary-colour-dark: #186E3C;
  --primary-colour-light: #27ae60;

  /* Measurables */
  --footer-size: 28rem;
}

.heading-primary {
  color: #fff;
  font-size: 5rem;
  text-transform: uppercase;
  backface-visibility: hidden; /* Stops shakiness */
}

.heading-secondary {
  font-size: 3.5rem;
}

.paragraph { font-size: 1.6rem; }

.container {
  max-width: 114rem;
  margin: 0 auto; 
}

.container::after {
  content: "";
  display: table;
  clear: both; 
}

.clearfix {
  display: block;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

.flex-center {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header */

.header-container {
  background-color: #fff;
  opacity: .9;
  padding: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-container img {
  width: 12.5rem;
  height: auto;
}

/* Nav bar */

.nav__desktop {
  visibility: hidden;
}

.nav__desktop a {
  color: #333;
  text-decoration: none;
  font-size: 1.5rem;
  padding-bottom: 1px;
  margin: 0 1rem;

  background-image: linear-gradient(90deg, var(--primary-colour-light), var(--primary-colour-light));
  background-repeat: no-repeat;
  background-size: 0 1px;
  background-position: 0 100%;

  transition: all .2s ease-in-out;
}

  .nav__desktop a:hover {
    background-size: 100% 1px;
  }

.nav__menu {
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  z-index: 999;
  display: inline-block;
  cursor: pointer;
}

.nav__menu--bar {
  /* z-index: 999; */
  width: 3.5rem;
  height: .5rem;
  background-color: rgb(104, 98, 98);
  margin: .6rem 0;
  transition: 0.4s;
  border-radius: .5rem;
  box-shadow: 0 0 4px 2px #fffc;
}

.change .nav__menu--bar {
  box-shadow: none;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-.9rem, .6rem) ;
  transform: rotate(-45deg) translate(-.9rem, .6rem) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-.8rem, -.8rem) ;
  transform: rotate(45deg) translate(-.8rem, -.8rem) ;
}

.nav__menu--overlay {
  position: fixed;
  top: -30rem;
  width: 100%;
  z-index: 99;

  transition: all .3s ease-out;
}

.nav__active {
  top: 0;
}

.nav__menu--overlay ul {
  text-align: center;
  padding-left: 0;
  list-style-type: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav__menu--overlay ul li:nth-child(2n-1){
  background-color: var(--primary-colour);
}

.nav__menu--overlay ul li {
  background-color: var(--primary-colour-dark);
  width: 100%;
  padding: 3rem 0;

  transition: all .3s ease-in-out;
}

.nav__menu--overlay ul a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Roboto Slab", sans-serif;
}

  /* .nav__menu--overlay ul a:hover {
    padding-left: 3rem;
  } */


.nav__logo {
  height: 5rem;
  width: auto;
  order: 2;
}


/* Footer */

.footer-wrapper {
  min-height: calc(100vh - var(--footer-size));
}

.footer {
  min-height: var(--footer-size);
  background-color: #161616;
  color: #fff;
  font-size: 1.5rem;
  font-family: "montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__top {
  display: flex;
  flex-direction: column;
}

.footer__top > div {
  margin-bottom: 1.5rem;
}

.footer h3 {
  font-size: 2.2rem;
  text-align: center;
}


/* Footer - contact */
.footer__contact {
  margin-top: 1rem;
}

.footer i {
  width: 2rem;
  font-size: 2rem;
  margin-right: .5rem;
}

.fa-mobile-alt {
  padding-left: .2rem;
}

/* Footer - links */

.footer__links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__links ul li a {
  display: block;
  color: var(--primary-colour);
  transition: all .3s ease-in-out;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
}

.footer__links ul li a:hover {
  color: #fff;
}

/* Footer copyright section */

.footer__bottom {
  margin-bottom: 2rem;
}


/* Header home */

.header__home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,.5)), url("images/mobile-header.JPG");
  height: calc(100vh - var(--footer-size));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  display: flex;
  flex-direction: column;
}

.header__home--title {
  color: #fff;
  /* margin-top: 7.5rem; */
  text-align: center;
  font-size: 4rem;
  font-family: 'montserrat', serif;
  font-weight: 300;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, .8);

  justify-self: center;
  align-self: center;
}

/* Utilities */
.u-center-text { text-align: center !important; }

.u-margin-bottom-large { margin-bottom: 8rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-large { margin-top: 10rem !important; }

.container .col-1-of-2 { width: calc((100% - 6rem) / 2); }
.container .col-1-of-3 { width: calc((100% - 2 * 6rem) / 3); }
.container .col-2-of-3 { width: calc(2 * ((100% - 2 *6rem) / 3) + 6rem); }
.container .col-1-of-4 { width: calc((100% - 3 * 6rem) / 4); }
.container .col-2-of-4 { width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
.container .col-3-of-4 { width: calc(3 * ((100% - 3 * 6rem) / 4) + 6rem * 2); }



/* Animations */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }



/* Responsive Design */

@media all and (min-width: 37.5em) { /* Bigger than Phone - 600px+ */

  html { font-size: 75%; /* 1rem = 12px */ }

  .footer div {
    margin: 1rem 0;
  }

  .footer__top {
    flex-direction: row;
  }

  .footer__top div {
    margin: 0 2rem;
  }
}

@media all and (min-width: 56.25em) { /* Bigger than Portrait tablets - 900px+ */

}

@media all and (min-width: 75em) { /* Bigger than Landscape tablets - 1200px+ */

  html { font-size: 100%; /* 1rem = 16px */ }
  body { --footer-size: 20rem; }
  
  .nav__mobile--container {
    visibility: hidden;
  }

  .nav__desktop {
    visibility: visible;
  }
}

@media all and (min-width: 112.5em) { /* Bigger than Big desktops - 1800px+ */
  
}