/*

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
1rem = 10px
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html { font-size: 62.5%; /* 1rem = 10px */ }

body { 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;

  /* Colours */
  --primary-colour: #219451;
  --primary-colour-dark: #186E3C;
  --primary-colour-light: #27ae60;

  /* Measurables */
  --footer-size: 28rem;
}

.heading-primary {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, .8);
  line-height: 1;
}

.heading-secondary {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, .8);
  padding-bottom: .6rem;
  margin-top: 1rem;

  background-image: linear-gradient(90deg, var(--primary-colour-light), var(--primary-colour-light));
  background-repeat: no-repeat;
  background-size: 50% 1px;
  background-position: 50% 100%;

  transition: all .2s ease-in-out;
}

.heading-subtext {
  color: #ddd;
  text-align: center;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, .8);
  line-height: 1;
}

.heading-dark {
  color: #333;
}

.paragraph { font-size: 1.6rem; }

.container {
  max-width: 114rem;
  margin: 0 auto; 
}

.container::after {
  content: "";
  display: table;
  clear: both; 
}

.clearfix {
  display: block;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

.flex-center {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header */

.header-container {
  background-color: #fff;
  opacity: .9;
  padding: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__dark .header-container {
  background-color: #222;
}

.header__dark .nav__menu--bar {
  background-color: #eee;
  box-shadow: 0 0 4px 2px #333c;
}

.header-container img {
  width: 12.5rem;
  height: auto;
}

.header__dark .nav__desktop a {
  color: #eee;
}

.header-logo {
  height: 6rem;
}

/* Nav bar */

.nav__desktop {
  visibility: hidden;
}

.nav__desktop a {
  color: #333;
  text-decoration: none;
  font-size: 1.5rem;
  padding-bottom: 2px;
  margin: 0 1rem;

  background-image: linear-gradient(90deg, var(--primary-colour-light), var(--primary-colour-light));
  background-repeat: no-repeat;
  background-size: 0 1px;
  background-position: 0 100%;

  transition: all .2s ease-in-out;
}

  .nav__desktop a:hover {
    background-size: 100% 1px;
  }

.nav__desktop .nav__item--active {
  background-size: 100% 1px;
  }

.nav__menu {
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  z-index: 999;
  display: inline-block;
  cursor: pointer;
}

.nav__menu--bar {
  /* z-index: 999; */
  width: 3.5rem;
  height: .5rem;
  background-color: rgb(104, 98, 98);
  margin: .6rem 0;
  transition: 0.4s;
  border-radius: .5rem;
  box-shadow: 0 0 4px 2px #fffc;
}

.change .nav__menu--bar {
  box-shadow: none;
  background-color: rgb(104, 98, 98);
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-.9rem, .6rem) ;
  transform: rotate(-45deg) translate(-.9rem, .6rem) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-.8rem, -.8rem) ;
  transform: rotate(45deg) translate(-.8rem, -.8rem) ;
}

.nav__menu--overlay {
  position: fixed;
  top: -30rem;
  width: 100%;
  z-index: 99;

  transition: all .3s ease-out;
}

.nav__active {
  top: 0;
}

.nav__menu--overlay ul {
  text-align: center;
  padding-left: 0;
  list-style-type: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav__menu--overlay ul li:nth-child(2n-1){
  background-color: #eee;
}

.nav__menu--overlay ul li {
  background-color: #ddd;
  width: 100%;
  padding: 3rem 0;

  transition: all .3s ease-in-out;
}

.nav__menu--overlay ul a {
  color: #333;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Roboto Slab", sans-serif;
}

  /* .nav__menu--overlay ul a:hover {
    padding-left: 3rem;
  } */


.nav__logo {
  height: 5rem;
  width: auto;
  order: 2;
}


/* Footer */

.footer-wrapper {
  min-height: 100vh;
  overflow: hidden;
}

.footer {
  min-height: var(--footer-size);
  background-color: #161616;
  color: #fff;
  font-size: 1.5rem;
  font-family: "montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__top {
  display: flex;
  flex-direction: column;
}

.footer__top > div {
  margin-bottom: 1.5rem;
}

.footer h3 {
  font-size: 2.2rem;
  text-align: center;
}


/* Footer - contact */
.footer__contact {
  margin-top: 1rem;
}

.footer i {
  width: 2rem;
  font-size: 2rem;
  margin-right: .5rem;
}

.fa-mobile-alt {
  padding-left: .2rem;
}

/* Footer - links */

.footer__links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__links ul li a {
  display: block;
  color: var(--primary-colour);
  transition: all .3s ease-in-out;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
}

.footer__links ul li a:hover {
  color: #fff;
}

/* Footer copyright section */

.footer__bottom {
  margin-bottom: 2rem;
}


/* Header home */

.header__home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,.5)), url("../imgs/header_images/image_1.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: none;
  position: relative;
  filter: brightness(1);

  display: flex;
  flex-direction: column;
  /* animation: slideshowAnim 5s linear 0s infinite; */
}

/* Projects */

.projects__container {
  margin-bottom: 1rem;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  list-style-type: none;
}

.projects__item {
  position: relative;
  width: 85vw;
  height: auto;
  margin: 1rem;
}

.projects .projects-image:hover {
  filter: brightness(50%);
}

.projects .projects-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 1.2rem 2px rgba(100, 100, 100, .25);
  border-radius: 2px;

  transition: all .3s ease-in-out;
}

/* Individual projects */

.individual-projects .projects-image:hover {
  transform: scale(1.1);
}

.individual-projects .projects-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 1.2rem 2px rgba(100, 100, 100, .25);
  border-radius: 2px;
  cursor: pointer;

  transition: all .3s ease-in-out;
}

.expanded__image--wrapper {
  visibility: hidden;
  display: none;
}

.expanded__image--container {
  position: relative;
  /* display: none; */
  width: 65vw;
  margin-bottom: 2rem;
}

.closebtn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: #eee;
  font-size: 3.5rem;
  cursor: pointer;
  text-shadow: 0px 0px 5px #000;

  transition: all .3s ease-in-out;
}

.closebtn:hover {
  color: #333;
  text-shadow: 0px 0px 5px #fff;
}

.expanded__image--container img {
  width: 100%;
  text-align: center;
}

/* Services */

.services {
  margin-bottom: 3rem;
}

.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4rem;
}

.service__text--heading {
  color: #333;
  text-align: center;
  font-size: 2rem;
  font-family: 'montserrat', serif;
  font-weight: 300;
  /* padding-bottom: .6rem;
  margin: 1rem 0;

  background-image: linear-gradient(90deg, #333, #333);
  background-repeat: no-repeat;
  background-size: 30% 1px;
  background-position: 50% 100%; */

  transition: all .2s ease-in-out;
}

.service__text--heading:first-child {
  margin-top: 2rem;
}

.service__text--paragraph {
  text-align: center;
  font-size: 1.2rem;
  color: #444;
}

.service__image {
  margin-top: 1.5rem;
  width: 60vw;
  max-width: 30rem;
  height: auto;
  border-radius: .3rem;
  box-shadow: 0 0 1.2rem 2px rgba(100, 100, 100, .25);
}

.service__images--container {
  display: flex;
  flex-direction: column;
}

/* Contact form */

.contact-body .footer-wrapper {
  display: flex;
  flex-direction: column;
}

.contact-body main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-body .heading-secondary {
  margin-bottom: 1.5rem;
}

.form__container {
  height: 100%;
  margin: 1rem;
  
  display: flex;
  flex-wrap: wrap;
}

.form__group {
  margin-bottom: 2rem;
  width: 100%;

  display:flex;
  justify-content: center;
}

.contact__form--control {
  background-color: #fafafa;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  padding-left: 1rem;
  width: 75%;
  max-width: 50rem;

  border: none;
  border-bottom: 1px solid #0002;
  border-radius: .3rem;
}

.contact__form--control:focus,
.contact__form--control:focus-visible {
  outline: var(--primary-colour-light) solid 1px;
}

.contact__form--control:not(textarea) {
  height: 4rem;
}

textarea {
  padding-top: 1rem;
}

.btn-contact {
  background: var(--primary-colour-light);
  border-color: var(--primary-colour-light);
  color: #fff;

  position: relative;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
  padding: 1.2rem 1.6rem;
  border-width: 1px;
  border-radius: .5rem;
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.3);
  transition: all .3s ease-in-out;
}

.btn-contact:hover {
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
  background: var(--primary-colour);
  border-color: var(--primary-colour);
}

.btn-contact:active {
  transform: scale(1.05);
  background: var(--primary-colour);
  border-color: var(--primary-colour);
  opacity: .9;
}


/* Utilities */
.u-center-text { text-align: center !important; }

.u-margin-bottom-large { margin-bottom: 8rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-large { margin-top: 10rem !important; }

.container .col-1-of-2 { width: calc((100% - 6rem) / 2); }
.container .col-1-of-3 { width: calc((100% - 2 * 6rem) / 3); }
.container .col-2-of-3 { width: calc(2 * ((100% - 2 *6rem) / 3) + 6rem); }
.container .col-1-of-4 { width: calc((100% - 3 * 6rem) / 4); }
.container .col-2-of-4 { width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
.container .col-3-of-4 { width: calc(3 * ((100% - 3 * 6rem) / 4) + 6rem * 2); }



/* Animations */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes slideshowAnim {
  0% {
    filter: brightness(2.5);
    background-size: auto 120%;
  }
  10% {
    filter:brightness(1);
  }

  90% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(2.5);
    background-size: auto 100%;
  }
}


/* Responsive Design */

@media all and (min-width: 37.5em) { /* Bigger than Phone - 600px+ */

  html { font-size: 75%; /* 1rem = 12px */ }

  .footer div { margin: 1rem 0; }
  .footer__top { flex-direction: row; }
  .footer__top div { margin: 0 2rem; }
  .footer__contact p { margin: .6rem 0; }

  body { --footer-size: 20rem; }

  .service__images--container { flex-direction: row; }
  .service__image { 
    margin: 1rem 1rem 0 1rem;
    width: 40vw;
  }

}

@media all and (min-width: 56.25em) { /* Bigger than Portrait tablets - 900px+ */

  .projects__item {
    width: auto;
    height: 40vh;
  }

  .projects .projects__item:not(:last-child) { flex-grow: 1; }

  .projects-image {
    max-height: 100%;
    min-width: 100%;
  }

  .services { margin-top: 2rem; }
  .service__text--container { margin-right: 3rem; }
  .service-container { margin-top: 1rem; }

  .service__image { 
    width: auto;
    max-width: 30rem;
    height: 18rem;
  }

  

  .expanded__image--wrapper {
    display: block;
    visibility: visible;
  }

  .individual-projects .projects__item {
    width: auto;
    height: 8rem;
  }

}

@media all and (min-width: 75em) { /* Bigger than Landscape tablets - 1200px+ */
/*   */
  html { font-size: 87.5%; /* 1rem = 14px */ }
  
  .nav__mobile--container { visibility: hidden; }
  .nav__desktop { visibility: visible; }

  .footer { font-size: 1.2rem; }
  .footer h3 { font-size: 2rem; }

  .projects__item {
    height: 30vh;
  }

  @keyframes slideshowAnim {
    0% {
      filter: brightness(2.5);
      background-size: 120% auto;
    }
    10% {
      filter:brightness(1);
    }
    
    90% {
      filter: brightness(1);
    }
    100% {
      filter: brightness(2.5);
      background-size: 100% auto;
    }
  }

  .projects .projects-image { width: auto; }
  .individual-projects .projects-image { width: auto; }

  .service-container { flex-direction: row; }
  .service-container:nth-child(2n) > .service__text--container {
    order: 2;
    margin-right: 0;
    margin-left: 3rem;
  }
}

@media all and (min-width: 112.5em) { /* Bigger than Big desktops - 1800px+ */
  .projects .projects__item:not(:last-child) { flex-grow: 0; }  
}